<template id="client-details-template">
  <link rel="stylesheet" href="components/ClientDetails/ClientDetails.css">
  <h1 class="title"></h1>
  <div class="time-form">
    <input type="text" class="time-form-field" placeholder="What are you working on?"><button class="task-button">Start</button>
  </div>
  <table>
    <tbody class="entries-table">
      <tr>
        <td class="time-table-task"></td>
        <td class="time-table-time"></td>
      </tr>
    </tbody>
  </table>
</template>
<script src="./ClientDetails.js"></script>
